.newtask {
    display: flex;
}

.newtask input {
    background: var(--gray-500);
    color: var(--gray-300);
    border-radius: 8px;
    width: 39.875rem;
    height: 3.375rem;
    border: 1px solid var(--gray-600);
    margin-right: 0.5rem;
    padding: 1rem;
}

.newtask input::placeholder {
    color: var(--gray-300);
}

.newtask button {
    background: var(--blue-dark);
    height: 3.25rem;
    width: 5.625rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;

    color: var(--gray-100);
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    
}

.newtask button span {
    font-size: 0.875rem;
    margin-right: 0.4rem;

}

.newtask button svg {
    color: var(--gray-100);
}

.newtask button:hover {
    background: var(--blue);
}