.task {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    background: var(--gray-400);

    height: 4.5rem;
    border: 1px solid var(--gray-500);
    border-radius: 8px;
    font-size: 0.875rem;
    color: var(--gray-100);
    left: 1rem;
}

.taskComplete {
    background: transparent;
    border: none;
    margin-left: 1rem;

    display: flex;
    align-items: center;
    
    text-decoration: line-through;
    color: var(--gray-300);

}

.taskComplete > button:first-child{
    background: transparent;
    border: none;
    color: var(--purple-dark);
    margin-right: 1rem;
    transition: 0.1s;
    cursor: pointer;
}

.taskComplete > button:first-child:hover{
    color: var(--purple);
}

.taskIncomplete {
    background: transparent;
    border: none;
    margin-left: 1rem;

    display: flex;
    align-items: center;
}

.taskIncomplete > button:first-child {
    background: transparent;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
    color: var(--blue);
    transition: 0.1s;
}

.taskIncomplete > button:first-child:hover{
    color: var(--blue-dark);
}

.trash {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem;
    color: var(--gray-300);
    transition: 0.2s;
}

.trash img {
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.2s;
}

.trash:hover{
    color: var(--danger);
    background: var(--gray-400)
}